.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  //setting the item-count to be in the middle of the .shopping-icon
  .item-count {
    position:relative;
    font-size: 10px;
    font-weight: bold;
    top: 14px;
  }
}
