.header {
  height: 70px;
  width: 100%;
  display: flex;
  //any child inside this component is separeted with as much space as possible
  justify-content: space-between;
  //pushes a margin 25px down to anything below the header
  margin-bottom: 25px;

  .logo {
    height: auto;
    width: 120px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    //flex-end means the most right side of the component
    justify-content: flex-end;

    .option {
      //a little padding to leave a space between the options
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
