.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    //Sign in or register form will be at the center
    justify-content: center;
    margin: 30px auto;

}

.register-header {
    font-size: 50px;
    font-weight: lighter;
    justify-content: center;
    text-align: center;

    h2{
        font-size: 30px;
        font-weight: lighter;
    }
  }

.type-of-user {
    max-width: 750px;
    font-size:medium;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto; //keep the component at the center
    margin-bottom: 40px;

    .client-option {
        height: 250px;
        width: 400px;
        text-align:justify;
        padding: 10px;

    }
    .lawyer-option {
        height: 250px;
        width: 400px;
        text-align:justify;
        padding: 10px;
        border-left: 1px solid black;

    }
    
}

.select {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

hr{
    border: 1px solid;
    width: 800px;
}
